.title {
  box-sizing: border-box;
  width: min(1260px, calc(100% - 40px));
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: min(1240px, calc(100% - 40px));
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
