.card {
  position: relative;
  max-width: 272px;
  padding: 0;
  color: inherit;
  text-align: center;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.block_price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
}
