.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.block_ingredients {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.block_cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingredient_section {
  margin: 20px 0;
}
